<div class="controls-wrapper">
  <div class='search-wrapper'>
    <div (click)="clearSearch()">
      <i class="search-icon fas fa-filter"></i>
    </div>
    <input 
      class="searchbar" 
      type="text" 
      [(ngModel)]="searchString" 
      (ngModelChange)="searchFieldChanged($event)" 
      spellcheck="false"
    >
  </div>
    <i class="tooltip-icon fas fa-question-circle"></i>
  <div id="tooltip">
    <p>Filter types: Type, Genre, Status, Score, Studio.</p>
    <i>Example - type:tv, studio:toei_animation,trigger, score:8</i>
  </div>
  <div class="episode-toggle">
    <label class="switch">
      <input type="checkbox" id="togBtn" (change)="toggleEpisodeFilter($event.target.checked)">
      <div class="slider round"></div>
    </label>
    <span>Has Episodes</span>
  </div>
</div>