.controls-wrapper {
  height: 3rem;
  width: 100%;
  background-color: var(--secondary);
  padding: 0.3rem 2rem;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 0;
  color: var(--background-text);
}

.searchbar {
  margin-top: 0.25rem;
  width: 8rem;
  border: 1px solid var(--primary);
  padding: 3px 3px 3px 26px;
  height: 26px;
  outline-color: var(--primary);
  color: #000000;
  font-size: 0.8rem;
  border-radius: 4px;
  transition: all cubic-bezier(0.3, 0.7, 0.9, 1) 0.2s;
  box-sizing: border-box;
}

.searchbar:focus {
  width: 20rem;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  color: var(--primary);
  font-size: 0.8rem;
  top: 10px;
  left: 6px;
  border-right: 1px solid #cacaca;
  padding-right: 0.2rem;
}

.search-icon:hover {
  cursor: pointer;
}

.tooltip-icon {
  font-size: 1rem;
  color: var(--primary);
  margin: 0.5rem 0px 0px 0.5rem;
  box-sizing: border-box;
}

#tooltip {
  visibility: hidden;
  transition: opacity 0.3s;
  opacity: 0;
  font-size: 0.7rem;
  margin-left: 0.8rem;
  /* TEMP */
  display: none;
}

.tooltip-icon:hover {
  cursor: pointer;
}

.tooltip-icon:hover + #tooltip {
  visibility: visible;
  opacity: 1;
}

#tooltip p {
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-right: 0.5rem;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: var(--primary);
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  transform: translateX(26px)
}

.slider:after {
 color: var(--background-text);
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 14px;
}

.episode-toggle {
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.episode-toggle span {
  vertical-align: top;
}