.list-wrapper {
  height: calc(100% - 4rem);
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

th, td:not(.expanding-row) {
  padding: 8px;
  text-align: left;
}

th {
  border-bottom: 1px solid #4065ba;
}

tr:not(:first-child):not(.expanding-row-container) {
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
}

tr:not(:first-child):hover {
  background-color: #4065ba;
  color: #fff;
}

tr:not(:first-child):hover .preview-image {
  display: block;
}

tr:not(:first-child) td {
  padding-left: 17px;
}

tr:not(:first-child):hover td:first-child:not(.expanding-row) {
  cursor: pointer;
}

.expanding-row {
  padding-left: 0 !important;
}

.expanding-row:hover {
  background-color: #f8f7ff;
  color: '#fff';
}

.table-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;

  /* height: 57px;
  width: 40px; */

  /* height: 40px;
  width: 28px; */

  height: 61px;
  width: 43px;
}

.scroll-viewport {
  height: 100%;
  width: 100%;
}

