.list-wrapper {
  height: calc(100% - 5.5rem);
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-text);
  border-top: 1px solid var(--primary);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

th, td:not(.expanding-row) {
  padding: 8px;
  text-align: left;
}

tr:not(.table-header-row):hover {
  background-color: var(--primary);
  color: var(--primary-text);
}

.tr:first-child td {
  padding-left: 17px;
}

.expanding-row {
  padding: 0 !important;
}

.expanding-row:hover {
  /* background-color: #f8f7ff; */
  background-color: var(--background);
  color: var(--background-text);
}

.table-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;

  /* height: 57px;
  width: 40px; */

  /* height: 40px;
  width: 28px; */

  height: 61px;
  width: 43px;
}

.scroll-viewport {
  height: 100%;
  width: 100%;
}

.no-data {
  text-align: center;
  color: var(--secondary);
}

.no-data-icon {
  font-size: 10rem;
}

.no-data p {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

.edit-icon:hover {
  cursor: pointer;
}

.sticky-header {
  /* Subtracting header width to align with scrollbar */
  width: calc(100% - 20px);
  color: var(--background-text);
}

.page-wrapper {
  position: relative;
  height: calc(100% - 4rem);
}

.tabs-container {
  display: flex;
  border-bottom: 1px solid var(--primary);
}

.tab {
  padding: 0.5rem 2.18rem;
  border-right: 1px solid var(--secondary);
  letter-spacing: 2px;
  color: var(--background-text);
}

.active-tab {
  background-color: var(--primary);
  color: var(--primary-text);
}

.tab:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--primary-text);
}

.page-contents {
  position: relative;
  height: calc(100% - 2.5rem);
}

.season-search {
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  padding: 0 2rem;
  border-radius: 4px;
}

.season-search:hover {
  background-color: var(--primary);
  color: var(--primary-text);
  cursor: pointer;
}

.status-display {
  border: 1px;
  border-style: solid;
  background-color: #ffffff;
  padding: 3px 1.5rem;
  display: inline-block;
  min-width: 152px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}

.complete {
  color: #000000;
}

.active {
  color: #2db039;
}

.dropped {
  color: #a12f31;
}

.hold {
  color: #fd8e04;
}

.add {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

.button-icon {
  margin-right: 0.3rem;
  color: var(--secondary-text);
}

.complete:hover, .active:hover, .dropped:hover, .hold:hover {
  cursor: default;
}

.status-display.add:hover {
  cursor: pointer;
  border-color: var(--primary-text);
  border-width: 2px 2px 2px 1px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: var(--background);
  margin: 3rem auto;
  padding: 0 1rem 1rem 1rem;
  width: 40%;
  border-radius: 7px;
  color: var(--background-text);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: var(--background-text);
}

.modal-button:hover {
  color: var(--primary);
  cursor: pointer;
}

.modal video {
  outline: none;
  border-radius: 3px;
}

.modal-body {
  display: flex;
}

.display-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 300px;
  width: 212px;
  min-width: 212px;
}

.list-controls {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-left: 1rem;
  vertical-align: bottom;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: var(--primary);
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(26px)
}

.slider:after {
 color: var(--background-text);
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 14px;
}

.controller {
  margin-bottom: 1rem;
}