
<div class="page-wrapper">
  <div class="tabs-container">
    <div class="tab" (click)="activateTab('search')" [ngClass]="activeTab === 'search' ? 'active-tab' : ''">
      <span>Search</span>
    </div>
    <div class="tab" (click)="activateTab('seasonal')" [ngClass]="activeTab === 'seasonal' ? 'active-tab' : ''">
      <span>Seasonal</span>
    </div>
    <div class="tab" (click)="activateTab('top')" [ngClass]="activeTab === 'top' ? 'active-tab' : ''">
      <span>Top Rated</span>
    </div>
    <div class="tab-controls">
      <ng-container *ngIf="activeTab === 'seasonal'">
        <dropdown 
          [options]="seasonOptions" 
          [selection]="seasonQuery"
          (selectionChange)="seasonChanged($event)" 
          style="margin-right: 1rem;"
          [selectionLabel]="'Season'"
          [optionPadding]="'0.5rem 0 0.5rem 2.18rem'"
          [outline]="false"
          [width]="'11rem'">
        </dropdown>
        <dropdown 
          [options]="yearOptions" 
          [selection]="yearQuery"
          (selectionChange)="yearChanged($event)" 
          style="margin-right: 1rem;"
          [selectionLabel]="'Year'"
          [optionPadding]="'0.5rem 0 0.5rem 1.18rem'"
          [outline]="false"
          [width]="'8rem">
        </dropdown>
        <div class="season-search" (click)="submitSeasonSearch()">
          <span>Search Season</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="page-contents">
    <ng-container *ngIf="infinite | async as nodes">
      <table class="sticky-header">
        <tr class="table-header-row">
          <th style="width: 5%;">Image</th>
          <th style="width: 45%;">Title</th>
          <th style="width: 10%;">Score</th>
          <th style="width: 10%;">Episodes</th>
          <th style="width: 10%;">Type</th>
          <th style="width: 10%;">Members</th>
          <th style="width: 10%;"></th>
        </tr>
      </table>
      <div class="list-wrapper">
        <ng-container *ngIf="nodes.length; else NoData">
          <cdk-virtual-scroll-viewport [itemSize]="rowSize" class="scroll-viewport" (scrolledIndexChange)="nextBatch($event, (nodes[nodes.length - 1].id))" appViewportResize>
            <table>
              <ng-container *cdkVirtualFor="let media of nodes; let i = index; templateCacheSize: 0">
                <tr (click)="toggleExpandedContent(media.id)" class="table-body-row">
                  <ng-container *ngIf="media">
                    <td style="width: 5%;">
                      <div class="table-image" [ngStyle]="{'background-image': media.main_picture ? 'url(' + media.main_picture.medium + ')' : ''}"></div>
                    </td>
                    <td style="width: 45%;">{{media.title}}</td>
                    <td style="width: 10%;">{{media.mean || '--'}}</td>
                    <td style="width: 10%;">{{media.num_episodes ? media.num_episodes : '--'}}</td>
                    <td style="width: 10%;">{{media.media_type | uppercase}}</td>
                    <td style="width: 10%;">{{media.num_list_users}}</td>
                    <td style="width: 10%;">{{media.my_list_status ? media.my_list_status.status : 'ACTION'}}</td>
                  </ng-container>
                  <ng-container *ngIf="!media">
                    <td style="width: 5%;"></td>
                    <td style="width: 45%;">Loading...</td>
                    <td style="width: 10%;">Loading...</td>
                    <td style="width: 10%;">Loading...</td>
                    <td style="width: 10%;">Loading...</td>
                    <td style="width: 10%;">Loading...</td>
                    <td style="width: 10%;">Loading...</td>
                  </ng-container>
                </tr>
                <tr class="expanding-row-container">
                  <td colspan="7" class="expanding-row">
                    <app-expanded-content #expandedContent [listNode]="media" [detailView]="true"></app-expanded-content>
                  </td>
                </tr>
              </ng-container>
            </table>
          </cdk-virtual-scroll-viewport>
        </ng-container>
      </div>
    </ng-container>

    <ngx-spinner [name]="'listSpinner'" bdColor="rgba(0, 0, 0, 0.8)" size="medium" [color]="getPrimaryColor()" type="ball-clip-rotate-pulse" [fullScreen]="false">
      <!-- <p style="color: white" > Loading... </p> -->
    </ngx-spinner>

  </div>

  <ng-template #NoData>
    <div class="no-data">
      <i class="no-data-icon far fa-times-circle"></i>
      <p>No Results Found</p>
    </div>
  </ng-template>

</div>