<div class="settings-wrapper">
  <p class="settings-header">Theme</p>
  <div class="settings-container">
    <div class="theme-header">
      <ng-container *ngIf="availableThemes$ | async as themes">
        <dropdown [options]="themeOptions" (selectionChange)="themeSelected($event)" style="margin-right: 1rem;"></dropdown>
      </ng-container>
      <div *ngIf="!customTheme" class="button" (click)="createTheme()" style="vertical-align: top;">
        <span>Add Theme</span>
        <i class="fas fa-plus button-icon"></i>
      </div>
    </div>
    <ng-container *ngIf="customTheme">
      <div class="custom-theme-container">
        <div class="label">
          Name <input type="text" [value]="customTheme.name" (change)="updateName($event.target.value)">
        </div>
        <div *ngIf="themeError$ | async as error" class="name-error">
          <p>*{{error}}</p>
        </div>
        <div class="label">
          Background <input type="color" [value]="customTheme.properties['--background']" (input)="updateColor($event.target.value, '--background')">
        </div>
        <div class="label">
          Background Text<input type="color" [value]="customTheme.properties['--background-text']" (input)="updateColor($event.target.value, '--background-text')">
        </div>
        <div class="label">
          Primary <input type="color" [value]="customTheme.properties['--primary']" (input)="updateColor($event.target.value, '--primary')">
        </div>
        <div class="label">
          Primary Text<input type="color" [value]="customTheme.properties['--primary-text']" (input)="updateColor($event.target.value, '--primary-text')">
        </div>
        <div class="label">
          Secondary <input type="color" [value]="customTheme.properties['--secondary']" (input)="updateColor($event.target.value, '--secondary')">
        </div>
        <div class="label">
          Secondary Text<input type="color" [value]="customTheme.properties['--secondary-text']" (input)="updateColor($event.target.value, '--secondary-text')">
        </div>
        <div class="label">
          Surface <input type="color" [value]="customTheme.properties['--surface']" (input)="updateColor($event.target.value, '--surface')">
        </div>
        <div class="label">
          Surface Text<input type="color" [value]="customTheme.properties['--surface-text']" (input)="updateColor($event.target.value, '--surface-text')">
        </div>
      </div>
      <div class="theme-footer">
        <div class="button" (click)="cancelTheme()">
          <span>Cancel</span>
        </div>
        <div class="button" (click)="saveTheme()">
          <span>Save Theme</span>
          <i class="far fa-save button-icon"></i>
        </div>
      </div>
    </ng-container>
  </div>
</div>