<div class="controls-wrapper">
  <div class='search-wrapper'>
    <input 
      class="searchbar" 
      type="text" 
      [(ngModel)]="searchString" 
      (ngModelChange)="searchFieldChanged($event)"
      spellcheck="false"
    >
  </div>
  <div class="header-button">
    <i class="header-icon far fa-chart-bar"></i>
    <p>Stats</p>
  </div>
  <div class="header-button">
    <i class="header-icon far fa-list-alt"></i>
    <p>Anime List</p>
  </div>
  <div class="header-button">
    <i class="header-icon fas fa-search-plus"></i>
    <p>Explore</p>
  </div>
  <div class="header-button">
    <i class="header-icon far fa-eye"></i>
    <p>Sakuga</p>
  </div>
  <label class="switch">
    <input type="checkbox" id="togBtn">
    <div class="slider round"></div>
  </label>
  <div class="header-button">
    <i class="header-icon fas fa-cog"></i>
    <p>Settings</p>
  </div>
</div>