.controls-wrapper {
  height: 4rem;
  width: 100%;
  background-color: var(--secondary);
  border-width: 1px 0px;
  border-style: ridge;
  border-color: var(--secondary-text);
  padding: 0.3rem 2rem;
  box-sizing: border-box;
  display: flex;
}

.searchbar {
  margin-top: 0.3rem;
  width: 25rem;
  border: 1px solid var(--primary);
  padding: 10px;
  height: 42px;
  outline-color: var(--primary);
  color: var(--background-text);
  font-size: 1.1rem;
  border-radius: 4px;
}

.header-button {
  display: inline-block;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}

.active {
  color: var(--primary);
}

.header-button p {
  margin: 0;
  font-size: 0.9rem;
}

.header-button:not(:first-child):not(:last-child) {
  margin: 0px 2rem
}

.controls-wrapper > :nth-child(5) {
  margin-right: auto;
}

.header-button:first-child {
  margin-right: 2rem;
}

.header-button:hover {
  cursor: pointer;
}

.header-icon {
  font-size: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 39px;
  margin-top: 0.48rem;
  margin-right: 2rem;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  transform: translateX(90px);
}

.slider:after {
 content:'ANIME';
 color: var(--background-text);
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 14px;
}

input:checked + .slider:after
{  
  content:'MANGA';
}