.expanded-content-container {
  padding: 0.8rem 1rem;
  display: flex;
}

.card {
  display: inline-block;
  font-size: 1.3rem;
  height: 210px;
  position: relative;
  width: 11rem;
  min-width: 140px;
  box-sizing: content-box;
  margin-right: 1rem;
}

.cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  border: 1px solid var(--primary);
  border-radius: 3px;
}

.image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  box-sizing: border-box;
}

.display-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 300px;
  width: 212px;
}

.episode-box {
  height: 300px;
  box-sizing: border-box;
  flex: 1;
  margin-left: 1rem;
  border: 1px solid var(--background-text);
  overflow-y: auto;
  font-size: 1.1rem;
}

.episode-row p {
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
}

.episode-row:hover {
  background-color: var(--primary);
  color: var(--primary-text);
  cursor: pointer;
}

.episode-box div {
  border-bottom: 1px solid var(--background-text);
  padding-left: 0.3rem;
}

.episode-box div:last-child {
  border: none;
}

.episode-box div:hover .episode-icon {
  color: var(--primary-text);
}

.episode-icon {
  font-size: 1rem;
  color: var(--primary);
}

.no-data {
  text-align: center;
  color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-data-icon {
  font-size: 7rem;
}

.no-data p {
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
}