<div #panel class="panel" *ngIf="expandedController$ | async">
  <div class="expanded-content-container">
    <div class="display-image" [ngStyle]="{'background-image':'url(' + listNode.main_picture.large + ')'}"></div>
    <div class="episode-box" *ngIf="!detailView; else Details">
      <ng-container *ngIf="episodes$ | async as episodes; else NoEpisodes">
        <div class="episode-row" *ngFor="let episode of episodes" (click)="playVideo(episode)">
          <i class="episode-icon far fa-play-circle"></i>
          <p>{{episode}}</p>
        </div>
      </ng-container>
      <ng-template #NoEpisodes>
        <div class="no-data">
          <div>
            <i class="no-data-icon far fa-times-circle"></i>
            <p>No Episodes</p>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #Details>
      <div class="details-container">
        <span>{{listNode.synopsis}}</span>
      </div>
    </ng-template>
  </div>
</div>