.media-header {
  display: flex;
  margin-bottom: 1rem;
}

.media-header span {
  font-size: 2rem;
}

.back-button {
  color: var(--primary);
  padding: 0.5rem;
  display: inline-block;
  margin-left: auto;
  margin-right: 1rem;
}

.back-button p {
  margin: 0;
  display: inline-block;
}

.back-button:hover {
  cursor: pointer;
}

.back-button .fa-arrow-left {
  margin-right: 0.5rem;
}

.media-wrapper {
  height: calc(100% - 4rem - 3rem);
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.details-container {
  display: inline-block;
}

.details-container p {
  margin: 0;
}

.positive {
  color: var(--primary);
}

.negative {
  color: red;
}

.label {
  font-weight: bold;
}

.media-body {
  display: flex;
  width: 100%;
  height: 100%;
}

.media-stats {
  height: 100%;
  width: 310px;
}

.media-view {
  flex: 1;
  padding: 0px 1rem 1rem 1rem;
}

.display-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 438px;
  width: 310px;
  display: inline-block;
  border: 1px solid var(--primary);
}

.details-container {
  display: inline-block;
}

.view-header p {
  margin: 0;
}

.episode-container {
  height: 570px;
  box-sizing: border-box;
  flex: 1;
  border: 1px solid var(--background-text);
  overflow-y: auto;
  font-size: 1.1rem;
  margin: 1rem 1rem 1rem 0px;
}

.episode-container div {
  border-bottom: 1px solid var(--background-text);
  padding-left: 0.3rem;
}

.episode-container div:last-child {
  border: none;
}

.episode-container div:hover .episode-icon {
  color: var(--background);
}

.episode-icon {
  font-size: 1rem;
  color: var(--primary)
}

.no-data {
  text-align: center;
  color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-data-icon {
  font-size: 7rem;
}

.no-data p {
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
}

.episode-row p {
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
}

.episode-row:hover {
  background-color: var(--primary);
  color: var(--primary-text);
  cursor: pointer;
}