.media-header {
  display: flex;
}

.back-button {
  color: #4065ba;
  padding: 0.5rem;
  display: inline-block;
  margin-left: auto;
  margin-right: 1rem;
}

.back-button p {
  margin: 0;
  display: inline-block;
}

.back-button:hover {
  cursor: pointer;
}

.back-button .fa-arrow-left {
  margin-right: 0.5rem;
}

.media-wrapper {
  height: 100%;
  width: 100%;
}

.display-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 300px;
  width: 212px;
  display: inline-block;
}

.details-container {
  display: inline-block;
  flex: 1;
}

.details-container p {
  margin: 0;
}

.positive {
  color: #4065ba;
}

.negative {
  color: red;
}
