<div class="sakuga-wrapper" [ngStyle]="{'height': embedded ? 'calc(100% - 4rem)' : 'calc(100% - 4rem - 7rem)'}">
  <div #SakugaContainer *ngIf="posts$ | async as posts; else NoData" class="sakuga-container">
    <div *ngFor="let post of posts" class="preview transition modal-field" [ngStyle]="{'background-image':'url(' + post.preview_url + ')'}" (click)="openModal(post)">
      <div *ngIf="post.source" class="preview-overlay">
        <p>{{ getSourceDisplay(post.source) }}: {{post.source.includes('http') ? 'Twitter' : post.source}}</p>
      </div>
    </div>
  </div>
  <ng-template #NoData>
    <div class="no-data">
      <i class="no-data-icon far fa-times-circle"></i>
      <p>No Results Found</p>
    </div>
  </ng-template>
  <ngx-spinner [name]="'sakugaSpinner'" bdColor="rgba(0, 0, 0, 0.8)" size="medium" [color]="getPrimaryColor()" type="ball-clip-rotate-pulse" [fullScreen]="false">
    <!-- <p style="color: white" > Loading... </p> -->
  </ngx-spinner>
</div>
<div *ngIf="posts$ | async" class="page-controls">
  <div class="button" (click)="changePage(false)" [ngClass]="currentPage === 1 ? 'disabled' : ''">
    <i class="fas fa-arrow-left button-icon" style="margin-right: 0.5rem;"></i>
    <span>Previous</span>
  </div>
  <div class="button" (click)="changePage(true)" [ngClass]="sakugaLoading || posts$.value.length < 100 ? 'disabled' : ''">
    <span>Next</span>
    <i class="fas fa-arrow-right button-icon"></i>
  </div>
</div>

<div #Modal class="modal">
  <div #ModalContent *ngIf="currentPost as post" class="modal-content modal-field">
    <div class="modal-header">
      <span>{{ getSourceDisplay(post.source) }}: {{post.source.includes('http') ? 'Twitter' : post.source}}</span>
      <div (click)="closeModal()" class="modal-button">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="modal-body">
      <div class="tags-display" [ngClass]="tagsLoading ? 'loading-tags' : ''">
        <ul *ngIf="currentTags$ | async as tags">
          <li *ngFor="let tag of tags" [ngClass]="getTagClass(tag.type)">
            <span (click)="selectTag(tag.name)" class="tag">{{tag.name}}: <span class="tag-count">{{tag.count}}</span></span>
          </li>
        </ul>
        <ngx-spinner [name]="'tagSpinner'" bdColor="rgba(0, 0, 0, 0.8)" size="medium" [color]="getPrimaryColor()" type="ball-clip-rotate-pulse" [fullScreen]="false">
          <!-- <p style="color: white" > Loading... </p> -->
        </ngx-spinner>
      </div>
      <div class="video-display">
        <video *ngIf="canPlay(post); else DisplayImage" width="100%" autoplay controls loop>
          <source src="{{post.file_url}}" type="video/mp4">
        </video>
        <ng-template #DisplayImage>
          <img [src]="post.file_url" width="100%">
        </ng-template>
      </div>
    </div>
  </div>
</div>

